[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
riemann-tx = ">=1.1.2"
requests = "*"
ethereum = "*"
connectrum = "*"

[dev-packages]
ipython = "*"
mypy = "*"
pytest = "*"
"flake8" = "*"

[requires]
python_version = "3.6.6"
