[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
test = "./scripts/run_tests.sh"

[dev-packages]
mypy = "*"
pytest = "*"
flake8 = "*"
coverage = "*"
pytest-cov = "*"

[packages]
bitcoin-spv-py = {editable = true,path = "."}
riemann-tx = "==2.1.0"

[requires]
python_version = "3.7"
